.text-brand{
  color: #EC8877;
  font-weight: bold;
}
.text-brand-lite{
  color: #EC8877;
  /* font-weight: bold; */
}

.btn-brand{
  background-color: #EC8877;
  color: white;
  font-weight: bold;
}
